asgiref==3.5.2; python_version >= "3.7"
boto3==1.26.7; python_version >= "3.7"
botocore==1.29.7; python_version >= "3.7"
django-filter==21.1; python_version >= "3.6"
django-storages==1.13.1; python_version >= "3.7"
django==3.2.8; python_version >= "3.6"
djangorestframework==3.14.0; python_version >= "3.6"
jmespath==1.0.1; python_version >= "3.7"
pillow==9.3.0; python_version >= "3.7"
psycopg2-binary==2.9.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
python-decouple==3.6
pytz==2022.6; python_version >= "3.7"
s3transfer==0.6.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
sqlparse==0.4.3; python_version >= "3.7"
urllib3==1.26.12; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
uwsgi==2.0.21
