option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "personal_portfolio.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    AWS_STORAGE_BUCKET_NAME: "bruvio-personal-portfolio"
    AWS_S3_REGION_NAME: "us-east-1"
    RDS_USERNAME: "postgres"
    RDS_PASSWORD: "lorokpopen"
    RDS_PORT: 5432
  aws:elasticbeanstalk:container:python:
    WSGIPath: "personal_portfolio.wsgi:application"
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/about"
    MatcherHTTPCode: "200-499"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media
  aws:rds:dbinstance:
    DBAllocatedStorage: 5
    DBDeletionPolicy: Delete
    DBEngine: postgres
    DBEngineVersion: 10.17
    DBInstanceClass: db.t2.micro
    DBPassword: lorokpopen
    DBUser: postgres
    MultiAZDatabase: false
container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
